<div class="wrapper wrapper-padding">
    <div class="brick brick--hero form-container__single">
        <h1>Feedback Form</h1>
        <form>
            <fieldset class="fieldset--plain form-multistep--panel prose">
                <div class="form-item form-item--compact">
                    <label class="required" for="title">Review title</label>
                    <input id="title" type="text">
                </div>
                <div class="form-item form-item--compact">
                    <label class="required" for="org">Course</label>
                    <input id="org" type="text">
                </div>
                <div class="form-item form-item--compact">
                    <label class="required" for="org">Organisation</label>
                    <input id="org" type="text">
                </div>
                <div class="form-item form-item--compact">
                    <label class="required" for="org">Location</label>
                    <input id="org" type="text">
                </div>
                <div class="form-item form-item--compact">
                    <label class="required" for="org">Review</label>
                    <textarea id="org" type="text"></textarea>
                </div>
                <div class="form-item form-item--compact">
                    <label class="required" for="org">Date of experience</label>
                    <input id="org" type="text">
                </div>
                <div class="form-item form-item--compact">
                    <label class="required" for="org">Rating</label> <br>
                    <ngb-rating [readonly]="false"></ngb-rating>
                </div>

                <button class="button">Submit</button>


            </fieldset>
        </form>
    </div>
</div>