<div class="options-bar-container banner-wide">
  <div class="wrapper wrapper--padding">
    <div class="options-bar-header ">
      <div class="heading-with-meta">
        <h2>Search <span class="heading-alternative">Courses</span></h2>
      </div>
    </div>
    <form class="options-bar" (ngSubmit)="onSubmit()">
      <div class="options-bar__items">
        <div class="l-form-item-container options-bar__item">
          <div class="v5-form-item v5-form-item--chic icon-inline--left icon-inline--larger icon--map-marker-light">
            <label class="v5-form-item__label" for="Location">Location</label>
            <input id="Location" name="location" [(ngModel)]="locationSearch" type="text" value="">
          </div>
        </div>
        <div class="1-form-item-contianer options-bar__item">
          <div class="v5-form-item v5-form-item--chic icon-inline--left icon-inline--larger icon--study-mode-light">
            <label class="v5-form-item__label" for="Course">Course</label>
            <input id="Location" name="course" [(ngModel)]="courseSearch" type="text" value="">
          </div>
        </div>
      </div>
      <div class="l-form-item-container options-bar__submit">
        <button type="submit" class="button button--primary">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<div class="wrapper-background wrapper-background--gradient">
  <div class="wrapper wrapper--padding">
    <div class="content content-section">
      <div *ngIf="organisations.length > 0; else elseBlock"
        class="grid grid--padding-wide grid--equal-height grid--max-h5">
        <li class="grid__item" *ngFor="let organisation of organisations">
          <div class="card transition-trigger card--information-list">
            <div class="card__background transition transition--hover-zoom" data-transition-trigger=""
              data-lazy-image-background="https://prod.df.ucascdn.com/4.6.0/images/example/provider-backgrounds/provider-background-01.jpg"
              style="background-image: url({{organisation.BackgroundImage}});"
              data-lazy-image-prepared=""></div>
            <div class="card__header">
              <h3 class="title"><a href="#">{{organisation.Name}}</a></h3>
              <p>{{organisation.Location}}</p>
            </div>
            <div class="card__content">
              <div class="title">
                <ngb-rating [readonly]="true" [(rate)]="organisation.AverageRating"></ngb-rating>
              </div>
        <li *ngFor="let review of organisation.Reviews | slice:0:3; let i=index">
          <div class="information-list">
            <a href="#" class="information-list__detail">
              <h4>
                {{review.Title}}
              </h4>
              <p>
                <ngb-rating [readonly]="true" [(rate)]="review.Rating"></ngb-rating>
              </p>
            </a>
          </div>
        </li>
      </div>

      <footer class="card__footer transition--hover-stop link-container theme-inverse theme-inverse--denim">
        <a [routerLink]="['/organisation', organisation.Name]"
          class="icon-inline--right icon--chevron-right-light link-container__link">See all
          reviews</a>
      </footer>
    </div>

    </li>
  </div>
  <ng-template #elseBlock>
    <p class="h2" style="color: whitesmoke;">No results found</p>
  </ng-template>
</div>
</div>
</div>
