<section class="section section--upper-header global-header global-header--learners ">
    <div class="logo__image"><img alt="UCAS" src="https://prod.df.ucascdn.com/4.6.0/images/logo.svg"></div>
    <div class="meganav">
      <div class="meganav__menu">
        <div class="meganav__links-wrapper">
          <ul class="meganav__links">
            <li class="global-link">
              <a class="global-link__link">
                <span class="global-link__title">Further education</span>
              </a>
            </li>
            <li class="global-link">
              <a class="global-link__link">
                <span class="global-link__title">Undergraduate</span>
              </a>
            </li>
            <li class="global-link">
              <a class="global-link__link">
                <span class="global-link__title">Postgraduate</span>
              </a>
            </li>
            <li class="global-link">
              <a class="global-link__link">
                <span class="global-link__title">Alternatives</span>
              </a>
            </li>
            <li class="global-link">
              <a class="global-link__link">
                <span class="global-link__title">Careers</span>
              </a>
            </li>
          </ul>
          <div class="meganav__search-widget">
            <a id="header-search-toggle" class="search-widget__toggle">
              Search
            </a>
          </div>
          <div class="meganav__users">
            <a class="meganav__user-menu-toggle">
              <div class="meganav_user-menu-text">Sign in</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>