<div class="wrapper wrapper-padding">
  <section *ngFor="let review of organisation.Reviews" class="content-section content-section--highlight">
    <div class="content-columns content-columns--two-columns content-columns--padding content-columns--row-divider">
      <div class="content-columns__column">
        <p class="impact--large-heavy">{{review.Title}}</p>
      </div>

    </div>
    <div class="content-columns content-columns--padding content-columns--row-divider">
      <div class="content-columns__column ">
        <div class="text-columns">
          <p>{{review.Feedback}}</p>
        </div>
      </div>
    </div>
    <div class="content-columns content-columns--three-columns content-columns--padding">
      <div class="content-columns__column">
        <p>Location</p>
        <p class="impact--medium-heavy">{{review.Location}}</p>
      </div>
      <div class="content-columns__column">
        <p>Course</p>
        <p class="impact--medium-heavy">{{review.CoursesAppliedFor}}</p>
      </div>
      <div class="content-columns__column">
        <p>Experience date</p>
        <p class="impact--medium-heavy">{{review.ExperienceDate | date : "dd MMM yyyy"}}</p>
      </div>
    </div>

    <ul class="accordion accordion--single">
      <li class="accordion__child">
        <div class="accordion__inner" accordion-state="collapsed" aria-hidden="true" role="region">
          <div class="accordion__inner-wrapper">
            <div class="content-columns content-columns--three-columns content-columns--padding">
              <div class="content-columns__column">
                <p>Qualification</p>
                <p class="impact--medium-heavy">MSc</p>
              </div>
              <div class="content-columns__column">
                <p>Review date</p>
                <p class="impact--medium-heavy">{{review.ReviewDate | date : "dd MMM yyyy"}}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>